.kpi-card {
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  border-left: 6px solid #4f46e5;
}

.kpi-card p {
  color: #666;
}

.kpi-card h2 {
  margin-top: 10px;
  font-size: 28px;
}
